@import "../scroll.less";
.ant-layout{
  height: 100vh;
}
.ant-layout-content{
  margin: 24px 16px;
  padding: 24px; 
  background: #fff; 
  height: calc(100vh - 112px); 
  min-height: 280px;
}
.trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color .3s;
  }
  
.trigger:hover {
  color: #1890ff;
}
  
.logo {
  height: 32px;
  margin: 16px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.logo img{
  width: 32px;
  height: 32px;
}
.ant-layout-sider-collapsed .logo{
  justify-content: center;
}
.ant-layout-sider-collapsed .logo a{
  max-width: 0;
  display: inline-block;
  opacity: 0;
}
.avatar img{
  width: 40px;
  height: 40px;
}