@import "../scroll.less";
.ant-layout{
  height: 100vh;
}
.ant-menu-submenu-popup{
  background: #fff;
}
.ant-layout-content{
  padding:24px;
  margin:24px 16px;
}
.ant-tabs{
  margin: 24px 16px;
}
.ant-tabs-bar{
  margin-bottom: 0;
}
.trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color .3s;
  }
  
.trigger:hover {
  color: #1890ff;
}

.logo {
  height: 32px;
  margin: 16px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.logo img{
  width: 32px;
  height: 32px;
}
.ant-layout-sider-collapsed .logo{
  justify-content: center;
}
.ant-layout-sider-collapsed .logo a{
  max-width: 0;
  display: inline-block;
  opacity: 0;
}
.avatar img{
  width: 40px;
  height: 40px;
}
.ant-card{
  overflow: hidden;
  cursor: pointer;
}
.card-icon{
  position: absolute;
  right:-35px;
  bottom: -115px;
  width: 180px;
  height: 180px;
  background: url(../../logo.svg);
  background-repeat: no-repeat;
}

.card:nth-of-type(1) .ant-card{
  background: #967adc;
}

.card:nth-of-type(2) .ant-card{
  background: #70ca63;
}

.card:nth-of-type(3) .ant-card{
  background: #e9573f;
}

.card:nth-of-type(4) .ant-card{
  background: #3bafda;
}
